html{
  background-color: silver;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .right{
  float: right;
}

#Loginbox{
  width: 60%;
  margin: 0 auto;
  margin-top:30px;
}

#Loginbox h2{
  padding:0;
  width: 16%;
  color:white;
  margin: 0 auto;
}

#Loginbox #LoginTop{
  background-color:#282828;
}

#Loginbox #LoginBottom{
  padding:10px;
  background-color: #d4cab8;
}

#Loginbox #LoginForms{
  margin-bottom: 20px;
}

#Loginbox plaintext{
  display: inline-block;
  margin: 10px;
}

#Loginbox input{
  width:99%;
}

#Loginbox button{
  border: solid;
  background-color: white;
  border-radius: 10px;
  
}

#Loginbox #LoginError{
  font-size: 100%;
  color:red;
  margin: 0;
}

#Loginbox button:focus{
  outline: none;
  box-shadow: none;
}

#Loginbox button:active{
  background:red;
}

#Loginbox button, #Loginbox plaintext{
  font-size: 200%;
}

#Loginbox .inputWrapper{
  margin: auto;
}

#Loginbox .LoginButtonOuter{
  width:50%;
  display:inline-block;
}

#Loginbox .LoginButtonInner{
  width:45%;
  margin:auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
